$color-c1: #ffffff;
$color-c2: #f5f5f5;
$color-c3: #b9b9b9;
$color-c4: #8f8270;
$color-c5: #797979;
$color-c6: #6f6456;
$color-c7: #505050;
$color-c8: #141413;
$color-c9: #ff9600;
$color-c10: #43a9ff;
$color-c11: #ff3976;
$color-c12: #e9e9e9;

